.container {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  margin: 20px auto;
  display: block;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 4px #b3b3b3;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    circle at 0.4% -0.6%,
    rgb(143, 170, 210) 0%,
    rgb(255, 177, 177) 90%
  );
}
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  opacity: 80%;
}
.form-row {
  box-sizing: border-box;
  display: block;
  padding: 20px;
}
