#floatLeft {
  padding-left: 30px;
}

#floatRight {
  padding-right: 30px;
}
.units {
  font-size: 30px;
}
#celcius {
  color: #000;
}

#temperature {
  font-size: 30px;
  padding-top: 10px;
  text-align: left;
}

ul {
  list-style: none;
  text-align: right;
  font-size: 30px;
}
